<!-- <h1 class="teste">Fulaninho Glauberio!!</h1> -->

<button class="btn btn-primary" [disabled]="!permitirAdicaoServidor" (click)="onCreateServer()">Adicionar Servidor</button>
<!-- {{ permitirAdicaoServidor }} -->
<p [innerText]="permitirAdicaoServidor"></p>



<!-- {{ statusAdicaoServidor }} -->
<p *ngIf="serverCreated; else noServer">Servidor foi criado</p>

<ng-template #noServer>
    <p>Nenhum servidor foi criado</p>
</ng-template>

<input type="text" class="form-control" (input)="onUpdateServerName($event)">

{{ serverName }}

<input type="text" class="form-control" [(ngModel)]="serverName">

<div *ngFor="let server of servers2">
   <h1>{{ server.idade }}</h1>
</div>